<div class="container header">
	<h1>Hallo, ich bin Freddy. Willkommen auf meinem Blog!</h1>
	<h2>Wuff, wuff!</h2>
</div>
<div class="container main">
	<p><%= image_tag("freddy1c.jpg", class: "img-responsive start-image") %></p>
</div>
