<div class="container-fluid carousel-container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @blogs.each do |blog| %>
    <li data-target="#carousel-example-generic" data-slide-to="<% @blogs.find_index %>" class="<%= "active" if blog == @blogs.first %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @blogs.each do |blog| %>
      <div class="item<%= " active" if blog == @blogs.first %>">
        <% if blog.image_url.present? %>
        <%= image_tag(blog.image_url, class: "img-responsive carousel-image") %>
        <% end %>        
      </div> <!--end item--> 
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
</div>
