// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { 
    margin: 0; 
    height: 100%; 
    width: 100%; 
}


.header {
	text-align: center;
}

.navbar {
	background-color: #333333;
	padding-right: 20px;
    padding-left: 20px;
}

.about,
.contact,
.header,
.blog,
.new-blog,
.edit,
.show,
.featured-blog {
	padding-top: 60px;
}

#carousel-example-generic {
    padding-top: 10px;
}

.thumbnail {
	border: 0px;
}

.caption {
	text-align: left;
}

.carousel-container {	
	padding-left: -15px;
	padding-right: -15px;
}

.footer {
	background-color: #333333;
	border-color: #333333;
	color: white;
	height: 80px;
	padding-top: 15px;
	
}